{% extends "base.html.twig" %}

{% block title %}Novo telefone
{% endblock %}

{% block body %}
	<div class="container mx-auto max-w-7xl px-4">
		<h2 class="text-4xl font-semibold mb-2">Novo telefone</h2>
		{{ form(form) }}
		</div>
	{% endblock %}
